body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center; /* Coloca os itens na mesma linha */
  margin-bottom: 1px;
}

.header h1 {
  margin-right: 20px; /* Espaçamento entre o título e os botões */
  font-size: 20px; /* Aumentado para melhorar a visibilidade */
}

#pauseButton,
#restartButton {
  font-size: 14px; /* Reduzido para um tamanho menor */
  padding: 4px 8px; /* Ajustado para um tamanho menor */
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  margin-left: 10px; /* Margem para separar os botões */
}

#pauseButton:hover,
#restartButton:hover {
  background-color: #666;
}

canvas {
  border: 2px solid #fff;
  width: auto; /* Aumentado para melhorar a área do jogo */
  height: 650px; /* Aumentado para melhorar a área do jogo */
}
