/* Estilos base */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
}

.icon {
  background-image: url("imgs/icon.png");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header h1 {
  margin-right: 20px;
  font-size: 20px;
}

#pauseButton,
#restartButton {
  font-size: 14px;
  padding: 4px 8px;
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

#pauseButton:hover,
#restartButton:hover {
  background-color: #666;
}

canvas {
  border: 2px solid #fff;
  width: auto;
  height: 500px;
}

#scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#scoreContainer p {
  margin: 0;
}

/* Botões de controle para dispositivos móveis */
#mobileControls {
  display: none; /* Inicialmente escondido */
  margin-top: 10px;
}

#mobileControls button {
  font-size: 24px;
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#mobileControls button:hover {
  background-color: #666;
}

/* Tornar responsivo para telas menores */
@media (max-width: 768px) {
  canvas {
    height: 300px; /* Reduz o tamanho do canvas em telas menores */
  }

  #mobileControls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
